<!DOCTYPE html>
<html>
    <head>
        <title>Simulacion examen</title>
        <script>
            function Submit(){
                let resps = [];
                for(let i=0;i<4;i++){
                    resps.push(document.getElementById(`${i}`));
                    
                }
                if(resps[0].checked||resps[1].checked||resps[2].checked||resps[3].checked){
                    let j = 0;
                    console.log(resps[0].value);
                    let answer = ' ';
                    if(resps[0].checked){
                        answer += ' Linux';
                        
                    }
                    if(resps[1].checked){
                        answer += ' macOs';

                    }
                    if(resps[2].checked){
                        answer += ' Windows';
                      
                    }
                    if(resps[3].checked){
                        answer += ' Otro';
                       
                    }
                    let num = 1;
                    axios.post('/respuesta',{answer,num}).then(()=>{
                        window.location.href = `http://localhost:4000/pregunta3`;
                    });
                    
                }else{
                    alert('Selecciona una opcion')
                }
                
            }
            function home(){
                window.location.href = `http://localhost:4000/`;
            }
        </script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <h1>
           Resultados
        </h1>
        Tiempo: <%= minutos%>:<%= segundos%><br>
        Respuesta 1: <%= r1%><br>
        Respuesta 2: <%= r2%><br>
        Respuesta 3: <%= r3%><br>
        <br><br>
        <button onclick="home()">Comenzar nuevo envio</button>
    </body>
</html>